<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% for(var i=0;i<list.length;i++){ %>
        <li style="color:skyblue"> <%=list[i]%> </li>
      <% } %>
    </ul>

  </body>
</html>
